.song-like-submit{border:none;padding:0;margin:0;cursor:pointer;height:16px;width:31px;background:url('../like/like.png') -40px -22px;background-repeat:no-repeat;}
.song-like-submit:hover{background:url('../like/like.png') -9px -22px;background-repeat:no-repeat;}
.song-like-pressed{background:url('../like/like.png') -9px -22px;background-repeat:no-repeat;}